$color1: #E6FEFA;
$color2: #4CA49B;
$color3: #295A55;
$color-text: #000000;
$color-num: #FF6C00;
$font-family-text: 'Times New Roman', Times, serif;
$font-family-title: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


.hidden {
	overflow: hidden;
}


body {
	background: $color1;
	a {
		text-decoration: none;
	}
}


#menu {
	position: fixed;
	width: 250px;
	height: 100%;
	left: -262px;
	top: 0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;

	a {
		color: $color1;
		display: block;
		font-size: 20px;
		line-height: 40px;
		text-align: center;
		text-decoration: none;
		font-family: $font-family-title;
	}
}


#menuContent {
	position: absolute;
	left: 60px;
	background: #408B84;
	width: 200px;
	height: 100%;
	padding-top: 114px; 
}


#menuToggle {
	position: absolute;
	top: 0;
	left: -13px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-left: 275px;
	background: rgba(0, 0, 0, 0.45);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;

	span {
		display: block;
		position: absolute;
		height: 5px;
		width: 70%;
		background: $color1;
		border-radius: 2px;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: .25s ease-in-out;

		&:nth-child(1) {
			left: 5px;
			top: 5px;
		}

		&:nth-child(2) {
			left: 5px;
			top: 18px;
		}

		&:nth-child(3) {
			left: 5px;
			top: 30px;
		}
	}
}


#menu.menu-open {
	left: -60px;

	span {
		&:nth-child(1) {
			top: 18px;
			transform: rotate(135deg);
		}

		&:nth-child(2) {
			opacity: 0;
			left: -60px;
		}

		&:nth-child(3) {
			top: 18px;
			transform: rotate(-135deg);
		}
	}
}



header {
	z-index: 999;
	position: fixed;
	width: 100%;
	height: 40px;
	background: $color2;
    top: 0;


	.page_name {
		position: absolute;
		left: 4em;
		top: 24%;
		font-size: 20px;
		font-family: $font-family-title;
	}


	.page-home {
		position: absolute;
		right: 0;
		width: 40px;
		height: 40px;
		border: none;
		background-color: $color3;

		a {
			display: block;
			width: 100%;
			height: 100%;

			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}



h1 {
    position: absolute;
    left: 20px;
    top: 65px;
	font-size: 28px;
	font-weight: 700;
	color: $color2;
	font-family: $font-family-title;
}

.main_center_text {
    position: relative;
    width: 98%;
    left: 1%;
    top: 136px;
	font-family: $font-family-title;
	color: $color-text;
	background: $color-text;
	background: $color1;



	#work {
		color: $color2;
		font-family: $font-family-title;
		font-size: 21px;
		font-weight: 600;
	}



	#graph {
		color: $color2;
		font-family: $font-family-title;
		font-size: 21px;
		font-weight: 600;
	}


	a {
		color: #4CA49B;
	}

	.text_marked {
		color: $color-num;
	}





	h2 {
		font-family: $font-family-title;
		font-size: 24px;
		font-weight: normal;
		color: $color2;
		left: 1%;
	}


	p {
		margin: 12px 0;
		font-family: $font-family-title;


		strong {
			font-weight: 600;
			font-size: 15px;
			color: $color2;
		}

		span {
			font-family: $font-family-text;
		}
	}

}


footer {
	display: grid;
	grid-template-rows: 40% 60%;
	position: relative;
	width: 100%;
	height: 80px;
	top: 186px;
	background-color: $color2;
	font-family: $font-family-title;

	.foot-cell {

		&:first-child {
			a {
				color: $color1;
			}
		}

		.foot-phone,
		.foot-mail {
			margin: 2% 0 0 2%;

		}
	}
	.foot-logo {
		position: absolute;
		width: 45px;
		height: 45px;
		left: 50%;
		top: 5%;

		img {
			width: 100%;
			height: 100%;
		}
	}
}
